<!---->
<!-- Création du formulaire de déclaration d'une pollution -->
<!---->

<div>
    <div class="bloc-de-marge"></div>
    <h2 class="titre-formulaire">Formulaire de déclaration d'une nouvelle pollution</h2>
</div>

<form [formGroup]="formulaireGroup" (ngSubmit)="onSubmit()" class="cssFormulaire">
    
    <div class="bloc-du-formulaire">
        <label>Titre de votre déclaration</label>
        <input type="text" formControlName="titrePollution" [class.is-invalid]="formulaireGroup.get('titrePollution')?.invalid">
        <small class="text-champ-invalide" *ngIf="formulaireGroup.get('titrePollution')?.invalid">
            <ng-container *ngIf="formulaireGroup.get('titrePollution')?.hasError('required')">
                <p>Le titre est obligatoire</p>
            </ng-container>
        </small>
    </div>
    
    <div class="bloc-du-formulaire">
    <label>Type de votre déclaration</label>
    <select formControlName="typePollution" [class.is-invalid]="formulaireGroup.get('typePollution')">
        <option *ngFor="let type of typeDePollutions" [value]="type">{{ type }}</option>
    </select>
    <small class="text-champ-invalide" *ngIf="formulaireGroup.get('typePollution')?.invalid">
        <ng-container *ngIf="formulaireGroup.get('typePollution')?.hasError('required')">
            <p>Le type est obligatoire</p>
        </ng-container>
    </small>
    </div>

    <div class="bloc-du-formulaire">
        <label>Description</label>
        <textarea formControlName="descriptionPollution" [class.is-invalid]="formulaireGroup.get('descriptionPollution')?.invalid"></textarea>
        <small class="text-champ-invalide" *ngIf="formulaireGroup.get('descriptionPollution')?.invalid">
            <ng-container *ngIf="formulaireGroup.get('descriptionPollution')?.hasError('required')">
                <p>La description est obligatoire</p>
            </ng-container>
        </small>
    </div>

    <div class="bloc-du-formulaire">
        <label>Date de l'observation</label>
        <input type="date" formControlName="datePollution" [class.is-invalid]="formulaireGroup.get('datePollution')?.invalid">
        <small class="text-champ-invalide" *ngIf="formulaireGroup.get('datePollution')?.invalid">
            <ng-container *ngIf="formulaireGroup.get('datePollution')?.hasError('required')">
                <p>La date est obligatoire</p>
            </ng-container>
        </small>
    </div>

    <div class="bloc-du-formulaire">
        <label>Lieu</label>
        <input type="text" formControlName="lieuPollution" [class.is-invalid]="formulaireGroup.get('lieuPollution')?.invalid">
        <small class="text-champ-invalide" *ngIf="formulaireGroup.get('lieuPollution')?.invalid">
            <ng-container *ngIf="formulaireGroup.get('lieuPollution')?.hasError('required')">
                <p>Le lieu est obligatoire</p>
            </ng-container>
        </small>
    </div>

    <div class="bloc-du-formulaire">
    <label>Latitude</label>
    <input type="number" formControlName="latitudePollution" [class.is-invalid]="formulaireGroup.get('latitudePollution')?.invalid">
    <small class="text-champ-invalide" *ngIf="formulaireGroup.get('latitudePollution')?.invalid">
        <ng-container *ngIf="formulaireGroup.get('latitudePollution')?.hasError('required')">
            <p>La latitude est obligatoire</p>
        </ng-container>
    </small>
    </div>

    <div class="bloc-du-formulaire">
        <label>Longitude</label>
        <input type="number" formControlName="longitudePollution" [class.is-invalid]="formulaireGroup.get('longitudePollution')?.invalid">
        <small class="text-champ-invalide" *ngIf="formulaireGroup.get('longitudePollution')?.invalid">
            <ng-container *ngIf="formulaireGroup.get('longitudePollution')?.hasError('required')">
                <p>La longitude est obligatoire</p>
            </ng-container>
        </small>
    </div>

    <div class="bloc-du-formulaire">
      <label>Photo (URL ou chemin)</label>
      <input type="text" formControlName="photoPollution">

      <!-- Aperçu de la photo -->
      <div *ngIf="formulaireGroup.value.photoPollution" class="preview-photo">
          <p>Aperçu :</p>
          <img [src]="formulaireGroup.value.photoPollution" alt="Aperçu photo" class="photo-pollution">
      </div>
  </div>

    

  
    <button type="submit" [disabled]="formulaireGroup.invalid">Valider</button>

</form>
