<!--
Div pour afficher les différentes saisis de l'utilisateur
-->

<div *ngIf="pollution" class="css-recapitulatif">
  <h3>Pollution enregistrée</h3>
  <p><b>Titre :</b> {{ pollution.titrePollution }}</p>
  <p><b>Type :</b> {{ pollution.typePollution }}</p>
  <p><b>Description :</b> {{ pollution.descriptionPollution }}</p>
  <p><b>Date :</b> {{ pollution.datePollution }}</p>
  <p><b>Lieu :</b> {{ pollution.lieuPollution }}</p>
  <p><b>Coordonnées :</b> {{ pollution.latitudePollution }}, {{ pollution.longitudePollution }}</p>
  <img *ngIf="pollution.photo" [src]="pollution.photo" width="200" />
</div>
